<!DOCTYPE html>
<html>
<head>
	<title>Form Template</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        <div class="navbar">
		 <div class="title">LEARNER📕</div>
         <div class="container">
         <input type="search" class="search" placeholder="Search">
         <button>Login</button>
         <button>Signup</button>
        </div>
        </div>
	