<%- include('partials/header') %>
	<main class="box">
        <div class="big-container">

        <div class="mid-container">
               <span> Please fill out the form below with your details to get in touch with us. </span>
        </div>

        <form id="simple-form" method="POST" action="/submit" >
            <div class="inputBox">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name"><br><br>
        </div>
         <div class="inputBox">
            <label for="email">Email:</label>
			<input type="email" id="email" name="email"><br><br>
        </div>
        <div class="inputBox">
            <label for="message">Message:</label>
			<textarea rows="5" id="message" name="message"></textarea><br><br>
		</div>
            <button class="submitButton" type="submit">Submit</button>
		</form>
    </div>
	</main>
	
    <%- include('partials/footer') %>