<%- include('partials/header') %>
	<main class="box">
        <div class="big-container">

        <div class="mid-container">
             <span>   Thanks for filling the form. </span>
        </div>
    </div>
	</main>
	
    <%- include('partials/footer') %>